<div id="">
    <h1 class="page-header">Add A Team</h1>
    <div class="row">
        <div class="col-md-8">
            <form method="POST" action="" class="form-horizontal">
                <div class="form-group">
                 <label for="teamNumber" class="col-sm-4 control-label">Team Number:</label>
                 <div class="col-sm-8">
                   <input type="email" class="form-control" id="teamNumber" placeholder="Team Number">
                 </div>
             </div>
             <div class="form-group">
                 <label for="schoolName" class="col-sm-4 control-label">School:</label>
                 <div class="col-sm-8">
                   <input type="email" class="form-control" id="schoolName" placeholder="School Name">
                 </div>
             </div>
             <div class="form-group">
                 <label for="hubLocation" class="col-sm-4 control-label">Hub:</label>
                 <div class="col-sm-8">
                   <select class="form-control" id="hub">
                        <option value="BigCountry">Big Country</option>
                        <option value="Brazos">Brazos BEST</option>
                        <option value="CoCo">Collin County BEST</option>
                        <option value="cowtown">Cowtown BEST</option>
                        <option value="dallas">Dallas BEST</option>
                        <option value="heart">Heart of Texas</option>
                        <option value="lions">Lion's Pride</option>
                        <option value="newmexico">New Mexico BEST</option>
                        <option value="houston">North Houston BEST</option>
                        <option value="rio">Rio Grande Valley BEST</option>
                        <option value="sanantonio">San Antonio BEST</option>
                        <option value="ustem">U-Stem BEST</option>
                        <option value="westtexas">West Texas BEST</option>
                   </select>
                 </div>
             </div>
             <h4>Primary Coach Information</h4>
             <div class="form-group">
                 <label for="coachName" class="col-sm-4 control-label">Name: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachName" placeholder="Enter Coach Name">
                 </div>
               </div>
             <div class="form-group">
                 <label for="coachEmail" class="col-sm-4 control-label">Email: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachEmail" placeholder="Enter Coach Email">
                 </div>
               </div>
             <div class="form-group">
                 <label for="coachPhone" class="col-sm-4 control-label">Phone Number: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachEmail" placeholder="Enter Coach Email">
                 </div>
               </div>
             <div class="form-group">
                 <label for="coachAddress" class="col-sm-4 control-label">Address: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachAddress" placeholder="Enter Street">
                 </div>
               </div>
             <h4>Secondary Coach Information</h4>
             <div class="form-group">
                 <label for="coachName" class="col-sm-4 control-label">Name: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachName" placeholder="Enter Coach Name">
                 </div>
               </div>
             <div class="form-group">
                 <label for="coachEmail" class="col-sm-4 control-label">Email: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachEmail" placeholder="Enter Coach Email">
                 </div>
               </div>
             <div class="form-group">
                 <label for="coachPhone" class="col-sm-4 control-label">Phone Number: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachEmail" placeholder="Enter Coach Email">
                 </div>
               </div>
             <div class="form-group">
                 <label for="coachAddress" class="col-sm-4 control-label">Coach Address: </label>
                 <div class="col-sm-8">
                    <input type="email" class="form-control" id="coachAddress" placeholder="Enter Street">
                 </div>
               </div>
             <input type="submit" class="btn btn-primary" name="submitTeam" value="Submit Team Information"/>
            </form>
       </div>
    </div>
        
    <h2></h2>
</div>